/* src/styles/global.css */
@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* 添加响应式类 */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* 屏保样式 */
.screensaver {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}